<%- include ("./templates/_header") %> 
<form action="/setup/edit/<%= id%>" method = "POST">
  <div class="container mt-3">
    <h1>Edita tu lista</h1>
  </div>
  <div class="container mt-3">
    <div class="row justify-content-left mt-2">
      <div class="col-4">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" name= "name" placeholder="Nombre" value="<%= setup.name%>">
        </div>
      </div>
    </div>

    <div class="row justify-content-left">
      <div class="col-7">
        <div class="form-group">
          <label for="description">Descripcion</label>
          <textarea class="form-control" id="description" name = "description" rows="2""><%= setup.description %></textarea>
        </div>
      </div>
    </div>

    <div class="row justify-content-left">
      <div class="form-group" id="computadora">
        <p class="col">Computadora</p>
        <div class="card-group">
        <label>
          <input type="radio" name="computer" class="card-input-element" value="" <%= setup.products[0] == null ? 'checked' : '' %>/>
            <div class="card card-input">
              <h5 class="card-header">N/A</h5>
              <div class="card-body">
                <p class="card-text">Sin Computadora</p>
              </div>
            </div>
        </label>
        <% products[0].forEach(c => { %>
          <label>
            <% if(setup.products[0] != null) {if(JSON.stringify(setup.products[0]._id) == JSON.stringify(c._id)) { %>
              <input type="radio" name="computer" class="card-input-element" value="<%= c._id %>" checked/>
            <%} else {  %>
              <input type="radio" name="computer" class="card-input-element" value="<%= c._id %>" unchecked/>
            <% }} else {%>
              <input type="radio" name="computer" class="card-input-element" value="<%= c._id %>" unchecked/>
            <% }%>
            
              <div class="card card-input">
                <h5 class="card-header"><%= c.name %></h5>
                <div class="card-body">
                  <h5 class="card-title">$<%= c.price %></h5>
                  <p class="card-text"><%= c.brand %></p>
                </div>
              </div>
          </label>
        <% })   %>
      </div>
      </div>
    </div>

    <div class="row justify-content-left">
      <div class="form-group" id="Monitor">
        <p class="col">Monitor</p>
        <div class="card-group">
          <label>
            <input type="radio" name="monitor" class="card-input-element" value="" <%= setup.products[1] == null ? 'checked' : '' %>/>
              <div class="card card-input">
                <h5 class="card-header">N/A</h5>
                <div class="card-body">
                  <p class="card-text">Sin Monitor</p>
                </div>
              </div>
          </label>
          <% products[1].forEach(c => { %>
            <label>
              <% if(setup.products[1] != null) {if (JSON.stringify(setup.products[1]._id) == JSON.stringify(c._id)) { %>
                <input type="radio" name="monitor" class="card-input-element" value="<%= c._id %>" checked/>
              <%} else {  %>
                <input type="radio" name="monitor" class="card-input-element" value="<%= c._id %>" unchecked/>
              <% }} else {%>
                <input type="radio" name="monitor" class="card-input-element" value="<%= c._id %>" unchecked/>
              <% }%>
              
                <div class="card card-input">
                  <h5 class="card-header"><%= c.name %></h5>
                  <div class="card-body">
                    <h5 class="card-title">$<%= c.price %></h5>
                    <p class="card-text"><%= c.brand %></p>
                  </div>
                </div>
            </label>
          <% })   %>
      </div>
      </div>
    </div>

    <div class="row justify-content-left">
      <div class="form-group" id="Mouse">
        <p class="col">Mouse</p>
        <div class="card-group">
          <label>
            <input type="radio" name="mouse" class="card-input-element" value="" <%= setup.products[2] == null ? 'checked' : '' %>/>
              <div class="card card-input">
                <h5 class="card-header">N/A</h5>
                <div class="card-body">
                  <p class="card-text">Sin Mouse</p>
                </div>
              </div>
          </label>
          <% products[2].forEach(c => { %>
            <label>
              <% if(setup.products[2] != null) {if (JSON.stringify(setup.products[2]._id) == JSON.stringify(c._id)) { %>
                <input type="radio" name="mouse" class="card-input-element" value="<%= c._id %>" checked />
              <%} else {  %>
                <input type="radio" name="mouse" class="card-input-element" value="<%= c._id %>" unchecked/>
              <% }} else {%>
                <input type="radio" name="mouse" class="card-input-element" value="<%= c._id %>" unchecked/>
              <% }%>
              
                <div class="card card-input">
                  <h5 class="card-header"><%= c.name %></h5>
                  <div class="card-body">
                    <h5 class="card-title">$<%= c.price %></h5>
                    <p class="card-text"><%= c.brand %></p>
                  </div>
                </div>
            </label>
          <% })   %>
        </div>
      </div>
    </div>

    <div class="row justify-content-left">
      <div class="form-group" id="Keyboard">
        <p class="col">Teclado</p>
        <div class="card-group">

        
        <label>
          <input type="radio" name="keyboard" class="card-input-element" value="" <%= setup.products[3] == null ? 'checked' : '' %>/>
            <div class="card card-input">
              <h5 class="card-header">N/A</h5>
              <div class="card-body">
                <p class="card-text">Sin Teclado</p>
              </div>
            </div>
        </label>
        <% products[3].forEach(c => { %>
          <label>
            <% if(setup.products[3] != null) {if (JSON.stringify(setup.products[3]._id) == JSON.stringify(c._id)) { %>
              <input type="radio" name="keyboard" class="card-input-element" value="<%= c._id %>" checked/>
            <%} else {  %>
              <input type="radio" name="keyboard" class="card-input-element" value="<%= c._id %>"/>
              <% }} else {%>
                <input type="radio" name="keyboard" class="card-input-element" value="<%= c._id %>"/>
              <% }%>
            
              <div class="card card-input">
                <h5 class="card-header"><%= c.name %></h5>
                <div class="card-body">
                  <h5 class="card-title">$<%= c.price %></h5>
                  <p class="card-text"><%= c.brand %></p>
                </div>
              </div>
          </label>
        <% })   %>
      </div>
      </div>
    </div>


    <div class="row justify-content-left">
      <div class="form-group" id="Desk">
        <p class="col">Escritorio</p>
        <div class="card-group">

        
        <label>
          <input type="radio" name="desk" class="card-input-element" value="" <%= setup.products[4] == null ? 'checked' : '' %>/>
            <div class="card card-input">
              <h5 class="card-header">N/A</h5>
              <div class="card-body">
                <p class="card-text">Sin Escritorio</p>
              </div>
            </div>
        </label>
        <% products[4].forEach(c => { %>
          <label>
            <% if(setup.products[4] != null) {if (JSON.stringify(setup.products[4]._id) == JSON.stringify(c._id)) { %>
              <input type="radio" name="desk" class="card-input-element" value="<%= c._id %>" checked/>
            <%} else {  %>
              <input type="radio" name="desk" class="card-input-element" value="<%= c._id %>" unchecked/>
              <% }} else {%>
                <input type="radio" name="desk" class="card-input-element" value="<%= c._id %>" unchecked/>
              <% }%>
            
              <div class="card card-input">
                <h5 class="card-header"><%= c.name %></h5>
                <div class="card-body">
                  <h5 class="card-title">$<%= c.price %></h5>
                  <p class="card-text"><%= c.brand %></p>
                </div>
              </div>
          </label>
        <% })   %>
      </div>
      </div>
    </div>


    <div class="row justify-content-left">
      <div class="col-5">
        <button class="btn btn-lg btn-primary btn-block m-3" type="submit">Guardar cambios</button>
      </div>
    </div>
  </div>
</form>


<%- include ("./templates/_footer") %> 