<%- include ("./templates/_header") %> 
<a class="" href="/setup/create">Crea tu propio Setup</a>
Esto es /mySetups
<div class='contaier'>
    <% mySetups.forEach(set => {   %>
        <div class='row'>
            <p>
                <a href='/setup/<%= set._id %>'> <%= set.name %></a>
            </p>
            <p>
                <a href='/setup/<%= set._id %>'> <%= set.description %></a>
            </p>
        </div>
    <% })      %>
</div>
<%- include ("./templates/_footer") %> 